body.blog99-dark-version-theme,
body.custom-background.blog99-dark-version-theme{
    background-color:black;
}
ul#primary-menu li.page_item_has_children ul,
ul#primary-menu li.menu-item-has-children ul,
.blog99-top-header-section.shadow-sm,
.author_bio_section,
.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation,
#secondary .textwidget, #secondary .textwidget.custom-html-widget,
article.blog99-article.post.hentry,
#secondary .blog99-trendingnews-right-top, #secondary .widget ul, #secondary .widget ol,
body.blog99-dark-version-theme .blog99-author-info-content,
section.widget_media_gallery div.gallery,
table,

#add_payment_method #payment ul.payment_methods, 
.woocommerce-cart #payment ul.payment_methods,
.woocommerce-checkout #payment ul.payment_methods,
body.blog99-dark-version-theme #add_payment_method #payment, 
body.blog99-dark-version-theme .woocommerce-cart #payment, 
body.blog99-dark-version-theme .woocommerce-checkout #payment,
.woocommerce-account .woocommerce-MyAccount-navigation li,


.nav-links a.prev.page-numbers, .nav-links a.page-numbers, .nav-links a.page-numbers, .nav-links span.page-numbers.current, .nav-links span.page-numbers.dots,

blockquote,

.sticky,
body.blog99-dark-version-theme .woocommerce-error, 
body.blog99-dark-version-theme .woocommerce-info, 
body.blog99-dark-version-theme .woocommerce-message,
.wp99theme .woocommerce #respond input#submit, .wp99theme .woocommerce a.button, .wp99theme .woocommerce button.button, .wp99theme .woocommerce input.button,
.woocommerce ul.products li.product, .woocommerce-page ul.products li.product,
.widget-area .widget .tagcloud,
.custom-header,
.widget-area .widget.widget_search
{
    background-color: #222222;
}

.woocommerce ul.products li.product, .woocommerce-page ul.products li.product{
    border-radius: 5px;
}

#secondary .widget ul li, #secondary .widget ol li{
    background-color: #393939;
}
header.blog99-header .site-branding h1.site-title,
header.blog99-header .site-branding p.site-description,
.archive h1.page-title.blog99-archive-title, .search h1.page-title.blog99-archive-title,
.comment-reply-title, .widget-title,
.blog99-footer-widget .widget h2.widget-title,
a,
.recentcomments a {
    color: #ffffff;
}


.comment-list,
.single-post article, .page article, .home article, .blog article, .archive article, .search article{
    background-color: transparent !important;
}

article.blog99-article.post.hentry{
    box-shadow: 0px 0px 1px 1px rgb(255, 255, 255);
}

input[type="text"], input[type="email"], 
input[type="url"], input[type="password"], input[type="search"], input[type="number"], input[type="tel"], input[type="range"], input[type="date"], input[type="month"], input[type="week"], input[type="time"], input[type="datetime"], input[type="datetime-local"], input[type="color"], textarea {
    color: #ffffff !important;
    background-color: transparent;
}
header.blog99-header .blog99-navmenu ul#primary-menu li.current-menu-item > a, header.blog99-header .blog99-navmenu ul#primary-menu li:hover > a{
    color:var(--red);
}
.woocommerce-account .woocommerce-MyAccount-navigation li.is-active{
    background-color: var(--red);
}.woocommerce-account .woocommerce-MyAccount-navigation li.is-active:before{
    background-color:#ffffff;
}
h4.blog99-author-heading,
h1.entry-title,
.blog99-metabox ul.blog99-meta-file-wrapper li,
.site-main article blockquote p{
    color: #ffffff;
}
.breadcrumb{
    background-color: transparent;
}
.shadow-sm {
    box-shadow: 0 0.125rem 0.25rem rgba(255, 255, 255, 0.275) !important;
}
header.blog99-header ul.blog99-social-links li{
    border-color:#fff;
}
.entry-meta span.author.vcard a{
    color: #827b7b;
}

.woocommerce ul.products li.product a.blog99_products_title {
    color: #000;
}

.single-product div.product .entry-summary .woocommerce-product-details__short-description p,
.rssSummary,
.woocommerce-product-rating a,
#comments h3,
.blog99_products_title,
.calendar_wrap table td,
.custom-header .entry-title, .custom-header .page-title,
.entry-content,
.woocommerce ul.cart_list li a, .woocommerce ul.product_list_widget li a, .woocommerce-page ul.cart_list li a, .woocommerce-page ul.product_list_widget li a, .widget_top_rated_products .product_list_widget .product-title,
p {
    color: #fff;
}

.box-header-nav .main-menu .children>.page_item>a, .box-header-nav .main-menu .sub-menu>.menu-item>.ancestor-wrapper a {
    color: #000;
}

.woocommerce #reviews #comment {
    color: #000 !important;
}

.comment-list .comment-body,
#respond {
    box-shadow: 0 2px 15px 0 rgb(156, 123, 123);
}

.modal-menu a {
    color: #000;
}