.wp99theme.woocommerce ul.products li.product,
.wp99theme.woocommerce-page ul.products li.product {
  padding-bottom: 15px;
  text-align: center;
}
.wp99theme.woocommerce ul.products li.product .star-rating {
  margin: 0 auto;
}
.woocommerce span.onsale {
  padding: 0 !important;
}
.woocommerce ul.products li.product .button {
  padding: 15px 29px;
  background: #f2f2f2;
  color: #0c0c0c;
  font-family: Lato;
  font-size: 14px;
  border-radius: 40px;
}
.woocommerce ul.products li.product .button:hover {
  background: #e8563a;
  color: white;
}
.blog99-wrapper ul.products.list li.product .gridlist-buttonwrap {
  display: inline;
  margin-right: 10px;
  float: none;
}
.woocommerce .blog99-wrapper #respond input#submit.loading::after,
.woocommerce .blog99-wrapper a.button.loading::after,
.woocommerce .blog99-wrapper button.button.loading::after,
.woocommerce .blog99-wrapper input.button.loading::after {
  top: auto;
}

.woocommerce a.added_to_cart {
  padding-top: 0.5em;
  display: inline-block;
  margin-top: 1em;
  padding: 10px 20px;
  background: #f2f2f2;
  color: #0c0c0c;
  font-family: Lato;
  font-size: 14px;
  border-radius: 40px;
}

.wp99theme .woocommerce #respond input#submit.alt,
.wp99theme .woocommerce a.button.alt,
.wp99theme .woocommerce button.button.alt,
.wp99theme .woocommerce input.button.alt {
  background-color: #e8563a;
}

.wp99theme .woocommerce #respond input#submit.alt:hover,
.wp99theme .woocommerce a.button.alt:hover,
.wp99theme .woocommerce button.button.alt:hover,
.wp99theme .woocommerce input.button.alt:hover {
  background-color: #0c0c0c;
}

.wp99theme .woocommerce #respond input#submit,
.wp99theme .woocommerce a.button,
.wp99theme .woocommerce button.button,
.wp99theme .woocommerce input.button {
  background-color: #0c0c0c;
  color: #fff;
}

.wp99theme.woocommerce-page #content table.cart td.actions .input-text {
  width: 130px;
}

.woocommerce-account .woocommerce-MyAccount-navigation li {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 15px;
  margin: 15px 0px;
}
.woocommerce-account .woocommerce-MyAccount-navigation li.is-active {
  background-color: #0c0c0c;
}
.woocommerce-account .woocommerce-MyAccount-navigation li.is-active a {
  color: #fff;
}
.woocommerce .col2-set .col-2,
.woocommerce-page .col2-set .col-2,
.woocommerce .col2-set .col-1,
.woocommerce-page .col2-set .col-1 {
  max-width: 50%;
}
.woocommerce .woocommerce-order-downloads {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
